<header class="mb-4">
  <nav class="flex flex-wrap items-center justify-between px-3 py-3 text-gray-700 bg-gray-100 lg:px-10">
    <div class="flex items-center mr-6 flex-no-shrink">
      <%= link_to "Home" , root_path, class:"link text-xl tracking-tight font-black" %>
    </div>
    <div class="block lg:hidden">
      <button
        class="flex items-center px-3 py-2 border border-gray-500 rounded text-grey hover:text-gray-600 hover:border-gray-600">
        <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="items-center block w-full text-center lg:flex-1 lg:flex lg:text-left">
      <!-- <div class="lg:flex-grow">
        <%= link_to "Basic Link" , "#" , class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
      </div> -->
      <div
        class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-left lg:justify-end">
        <% if user_signed_in? %>
          <%= link_to "Edit account" , edit_user_registration_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0 block"
            %>
            <%= link_to "Log out" , destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0
              block" %>
              <% else %>
                <%= link_to "Login" , new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
                  <%= link_to "Sign Up" , new_user_registration_path, class:"btn btn-default block" %>
                    <% end %>
      </div>
    </div>
  </nav>
</header>