<% content_for :devise_form do %>
  <h2 class="pt-4 mb-8 text-4xl font-bold heading">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="input-group">
      <%= f.label :login, class:"label" %>
        <%= f.text_field :login, autofocus: true, class: "input" %>
    </div>

    <div class="input-group">
      <%= f.label :password, class:"label" %>
        <%= f.password_field :password, autocomplete: "current-password" , class: "input" %>
    </div>

    <div class="mb-6 input-checkbox">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:"label" %>
            <% end -%>
    </div>

    <div class="input-group">
      <%= f.submit "Log in" , class: "btn btn-default" %>
    </div>

    <% end %>

      <hr class="mt-6 border" />

      <%= render "devise/shared/links" %>
        <% end %>

          <%= render "devise/shared/form_wrap" %>